$blanco: white;
$azul: blue;
$rojo: red;
$verde: rgb(0, 255, 0);
$verdenegro: green;
$amarillo: yellow;
$violeta: rgb(255, 0, 212);
$verdeamarillo: yellowgreen;
$aqua: aqua;
$rosa: pink;
$oro: gold;
$marron: brown;
$negro: black;
$naranja: orange;
$rojonaranja: orangered;
$olivo: olive;
$salmon: darksalmon;
$fontFont: 'Roboto Slab', serif;
$cienPorciento: 100%;
$cienPadding: 100px;
$cincuentaPorciento: 50%;
$cincoPadding: 5px;
$treintaYCincoPadding: 35px;
$cuatrocientosTama: 400px;
$cuatrocientosCincuenta: 450px;
$ochocientosPixeles: 800px;
$unidadRelativa: 1fr;
$cuarentaYCinco: 45%;
$veinticincoPadding: 25px;
$cientosetentaYcinco: 175px;
$cientoCincuenta: 150px;
$mayuscula: uppercase;
$minuscula: lowercase;
$ubicacion: center;
$borde: solid;
$estilo: italic;
$display: inline-block;
$cincuentaYcincoporciento: 55%;
$cuatrocientosSetenta: 470px;
$grid: grid;





